@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');

* {
  box-sizing: border-box;
}

.secondary{
    background-color: #fd7e13;
}

.primary{
  background-color: #fd7e14;
  color: black;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.item-left{
  align-self: flex-end;
}

.center-element{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.spacie-row-xsm{ margin-top: 0.5%;}
.spacie-row-sm{ margin-top: 2%;}
.spacie-row-md{ margin-top: 5%;}
.spacie-row-bg{ margin-top: 10%;}
.spacie-row-xg{  margin-top: 20%;}


.fs1-normal{
  font-size: xx-large;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.fs1-bold{
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.fs1-light{
  font-size: xx-large;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.fs2-normal{
  font-size: x-large;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.fs2-bold{
  font-size: x-large;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.fs2-light{
  font-size: x-large;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.fs3-normal{
  font-size: large;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.fs3-bold{
  font-size: large;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.fs3-light{
  font-size: large;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.fs4-normal{
  font-size: medium;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.fs4-bold{
  font-size: medium;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.fs45-light{
  font-size: small;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.fs5-normal{
  font-size: small;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.fs5-bold{
  font-size: small;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.fs4-light{
  font-size: medium;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}


.row {
  display: flex;
  width: 100%
}

.row::after {
    clear: both;
     content: "";
}

.col{
  margin: 3px;
}

.col-1 {width: 8.33%};
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav{
    height: auto;
    width: 100%;
    position: relative;
    margin-top: -8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 75px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  div{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    overflow-wrap: break-word;
  }

  th{
    width: 300px;
    text-align: justify;
    padding-right: 1%;
    border-style: dotted;
  }
  .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-primary{
    background-color: #fd7e13;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  .footer {
    position: fixed;
    padding: 0px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
}

